# Exercícios Séries

 1.1 Escreva as seguintes séries <br>
[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [1]:
import pandas as pd

In [2]:
ds1 = pd.Series([2,3,6,8,10])
ds2 = pd.Series([1,3,5,7,9])

In [3]:
ds1

0     2
1     3
2     6
3     8
4    10
dtype: int64

In [4]:
ds2

0    1
1    3
2    5
3    7
4    9
dtype: int64

1.2 Soma

In [5]:
ds = ds1 + ds2
print(ds)

0     3
1     6
2    11
3    15
4    19
dtype: int64

1.3 subtração

In [6]:
ds = ds1 - ds2
print(ds)

0    1
1    0
2    1
3    1
4    1
dtype: int64

1.4 multiplicação

In [8]:
ds = ds1 * ds2
print(ds)

0     2
1     9
2    30
3    56
4    90
dtype: int64

1.5 Divisão

In [10]:
ds = ds1 / ds2
print(ds)

0    2.000000
1    1.000000
2    1.200000
3    1.142857
4    1.111111
dtype: float64

2 Compare Series <br>
2.1 Igualdade

In [11]:
ds1 == ds2

0    False
1     True
2    False
3    False
4    False
dtype: bool

2.2 Superioridade

In [12]:
ds1 > ds2

0     True
1    False
2     True
3     True
4     True
dtype: bool

2.3 Inferioridade

In [13]:
ds1 < ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

3 Escreva um programa em pandas para converter um dicionário numa série de pandas

Original dictionary: <br>
 {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [14]:
d1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [17]:
new_series = pd.Series(d1)

In [18]:
print(new_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

 4 Escreva um programa em pandas para converter um array NumPy numa série de pandas <br>
 NumPy array: <br>
 [10 20 30 40 50] <br>

In [19]:
import numpy as np

In [21]:
np_array = np.array([10, 20, 30, 40, 50])
np_array

array([10, 20, 30, 40, 50])

In [22]:
new_series = pd.Series(np_array)

In [23]:
print(new_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

 5 Mude o tipo de dados do array da série <br>
 0 100 <br>
 1 200 <br>
 2 python <br>
 3 300.12 <br>
 4 400 <br>

In [24]:
s1 = pd.Series(['100', '200', 'python', '300.12','400'])
s1

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [26]:
s2 = pd.to_numeric(s1, errors='coerce')

In [27]:
print(s2)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

 6 Converta a primeira coluna de um DataFrame para série

d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [28]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [29]:
df = pd.DataFrame(data = d)

In [30]:
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [31]:
s1 = df.iloc[:,0]

In [32]:
print(s1)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [33]:
print(type(s1))

<class 'pandas.core.series.Series'>

 Converta a seguinte serie num array

s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [34]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [35]:
print(s1)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [36]:
a = np.array(s1.values.tolist())

In [37]:
print(a)

['100' '200' 'python' '300.12' '400']

 Converta a seguinte serie de listas numa serie

s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

In [38]:
s = pd.Series([ ['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

In [39]:
print(s)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [40]:
s = s.apply(pd.Series).stack().reset_index(drop=True)

In [41]:
print(s)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

 Ordene a seguinte série

s = pd.Series(['100', '200', 'python', '300.12', '400'])

In [42]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])

In [43]:
print(s)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [44]:
new_s = pd.Series(s).sort_values()

In [45]:
print(new_s)

0       100
1       200
3    300.12
4       400
2    python
dtype: object