# 2.1 Exercícios de Pandas – Series

In [8]:
import pandas as pd
import numpy as np

1.Crie e exiba um objeto semelhante a um array unidimensional usando a biblioteca pandas.

In [2]:
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

2.Converta um módulo Pandas Series para lista Python.

In [4]:
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Serie e tipo")
print(ds)
print(type(ds))
print("Converter série pandas para lista python")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Serie e tipo
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Converter série pandas para lista python
[2, 4, 6, 8, 10]
<class 'list'>

3.Aplique as seguintes operações nas séries de amostra: somar, subtrair, multiplicar e dividir duas Séries Pandas. <br>
Série de Amostra: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]<br>

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Adição:")
print(ds)
print("Subtração:")
ds = ds1 - ds2
print(ds)
print("Multiplicação:")
ds = ds1 * ds2
print(ds)
print("Divisão:")
ds = ds1 / ds2
print(ds)

4.Compare os elementos das duas Séries. <br>
Série de Amostra: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]<br>

In [5]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Serie1:")
print(ds1)
print("Serie2:")
print(ds2)
print("Comparar os elementos das séries dadas:")
print("Igualdade:")
print(ds1 == ds2)
print("Maior:")
print(ds1 > ds2)
print("Menor:")
print(ds1 < ds2)

Serie1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Serie2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Comparar os elementos das séries dadas:
Igualdade:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Maior:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Menor:
0    False
1    False
2    False
3    False
4    False
dtype: bool

5.Converta um dicionário numa série. <br>
Dicionário original:<br>
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}<br>

In [6]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Dicionário original:")
print(d1)
new_series = pd.Series(d1)
print("Série:")
print(new_series)

Dicionário original:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Série:
a    100
b    200
c    300
d    400
e    800
dtype: int64

6.Converta um array NumPy numa série. <br>
Array NumPy:<br>
[10 20 30 40 50]<br>

In [9]:
np_array = np.array([10, 20, 30, 40, 50])
print("Array NumPy:")
print(np_array)
new_series = pd.Series(np_array)
print("Série:")
print(new_series)

Array NumPy:
[10 20 30 40 50]
Série:
0    10
1    20
2    30
3    40
4    50
dtype: int32

7.Altere o tipo de dados da seguinte série para o tipo de dados numérico.

0 100 <br>
1 200 <br>
2 python <br>
3 300,12 <br>
4 400 <br>
dtype: objeto <br>

In [10]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Série original:")
print(s1)
print("Alteração do tipo de dados para numérico:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Série original:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Alteração do tipo de dados para numérico:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8.Converta a seguinte série num array. <br>
0 100<br>
1 200<br>
2 python<br>
3 300,12<br>
4 400<br>
dtype: objeto<br>

In [11]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Originals:")
print(s1)
print("Serie para array")
a = np.array(s1.values.tolist())
print (a)

Originals:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Serie para array
['100' '200' 'python' '300.12' '400']

9.Converta a seguinte Séries de listas numa Série. <br>
0 [Vermelho, Verde, Branco] <br>
1 [Vermelho, Preto]<br>
2 [Amarelo]<br>
dtype: objeto<br>

In [12]:
s = pd.Series([
    ['Vermelho', 'Verde', 'Branco'],
    ['Vermelho', 'Preto'],
    ['Amarelo']])
print("Série de listas original")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("Uma série")
print(s)

Série de listas original
0    [Vermelho, Verde, Branco]
1            [Vermelho, Preto]
2                    [Amarelo]
dtype: object
Uma série
0    Vermelho
1       Verde
2      Branco
3    Vermelho
4       Preto
5     Amarelo
dtype: object

10.Ordene uma a seguinte série. <br>
0 100 <br>
1 200<br>
2 python<br>
3 300,12<br>
4 400<br>
dtype: objeto <br>

In [13]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Série original:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Série original:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

11.Adicione alguns dados à seguinte série. <br>
0 100 <br>
1 200 <br>
2 python <br>
3 300,12 <br>
4 400 <br>
dtype: objeto <br>

In [18]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Série original:")
print(s)
print("\nSérie após adicionar alguns dados:")
new_s = pd.concat([s,pd.Series(['500', 'php'])])
print(new_s)

Série original:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Série após adicionar alguns dados:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

12.Altere a ordem do índice da seguinte série. <br>
A 1 <br>
B 2<br>
C 3<br>
D 4<br>
E 5<br>
dtype: int64<br>
Série de dados após alterar a ordem do índice:<br>
B 2<br>
A 1<br>
C 3<br>
D 4<br>
E 5<br>
dtype: int64<br>

In [19]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Série original:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Série após troca do indíce:")
print(s)

Série original:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Série após troca do indíce:
B    2
A    1
C    3
D    4
E    5
dtype: int64

13.Calcule a média e o desvio padrão dos dados da seguinte Série. <br>
0 1 <br>
1 2<br>
2 3<br>
3 4<br>
4 5<br>
5 6<br>
6 7<br>
7 8<br>
8 9<br>
9 5<br>
10 3<br>
dtype: int64<br>

In [ ]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Série original:")
print(s)
print("Média:")
print(s.mean())
print("Desvio padrão:")
print(s.std())

14.Obtenha os itens da série sr1 que não estão presentes na série sr2.<br>
Série Original:<br>
sr1:<br>
0 1<br>
1 2<br>
2 3<br>
3 4<br>
4 5<br>
dtype: int64<br>
sr2:<br>
0 2<br>
1 4<br>
2 6<br>
3 8<br>
4 10<br>
dtype: int64<br>

In [20]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Séries originais:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems de sr1 não presentes em sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Séries originais:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items de sr1 não presentes em sr2:
0    1
2    3
4    5
dtype: int64

15.Obtenha os itens que não são comuns entre as séries sr1 e sr2.

In [21]:
print("\nItems não comuns:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Items não comuns:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

16.Calcule o mínimo, 25º percentil, mediana, 75º e máximo de uma série aleatória com 100 elementos do tipo decimal.

In [22]:
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Série original:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nmínimo, 25º percentil, mediana, 75º e máximo:")
print(result)

Série original:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

mínimo, 25º percentil, mediana, 75º e máximo:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

17.Calcule as contagens de frequência de cada valor único de uma série aleatória com 40 elementos inteiros.

In [23]:
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print("Série original:")
print(num_series)
print("frequência de cada valor único.")
result = num_series.value_counts()
print(result)

Série original:
0     7
1     1
2     9
3     6
4     8
5     7
6     5
7     5
8     6
9     1
10    1
11    7
12    8
13    9
14    7
15    6
16    0
17    9
18    5
19    9
20    1
21    3
22    6
23    8
24    6
25    7
26    5
27    9
28    1
29    2
30    3
31    4
32    0
33    1
34    9
35    9
36    6
37    1
38    0
39    5
dtype: object
frequência de cada valor único.
1    7
9    7
6    6
7    5
5    5
8    3
0    3
3    2
2    1
4    1
dtype: int64

18.Exiba o valor mais frequente de uma série aleatória com 15 elementos inteiros entre 1 e 5 substitua todo as entradas diferentes do valor mais frequente como ‘Outro’. <br>
0 3<br>
1 1<br>
2 1<br>
3 3<br>
4 2<br>
5 2<br>
6 1<br>
7 2<br>
8 3<br>
9 1<br>
10 2<br>
11 2<br>
12 2<br>
13 3<br>
14 3<br>
dtype: int64<br>

In [26]:
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Série original:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Outro'
print(num_series)

Série original:
0     2
1     1
2     1
3     2
4     3
5     1
6     4
7     1
8     3
9     3
10    3
11    1
12    1
13    2
14    4
dtype: int32
Top 2 Freq: 1    6
3    4
2    3
4    2
dtype: int64
0     Outro
1         1
2         1
3     Outro
4     Outro
5         1
6     Outro
7         1
8     Outro
9     Outro
10    Outro
11        1
12        1
13    Outro
14    Outro
dtype: object

19.Encontre as posições dos números que são múltiplos de 5 de uma série aleatória com 9 valores inteiros entre 1 e 10.

In [27]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Série Original:")
print(num_series)
result = np.where(num_series % 5==0)
print("Posções dos números múltiplos 5:")
print(result)

Série Original:
0    3
1    8
2    8
3    4
4    1
5    7
6    3
7    6
8    1
dtype: int32
Posções dos números múltiplos 5:
(array([], dtype=int64),)

20.Extraia itens  das posições 0, 2, 6, 11, e 21 de uma série criada a partir da seguinte string<br>
'2390238923902390239023'<br>

In [28]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print("Série Original:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtrair os itemas nas posições dadas:")
print(result)

Série Original:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extrair os itemas nas posições dadas:
0     2
2     9
6     8
11    0
21    3
dtype: object

21.Obtenha as posições dos itens da série 2 na série 1. <br>
Série 1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]<br>
Série 2 = [1, 3, 5, 7, 10]<br>

In [29]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Séries Original:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Posições da série 1 na série 2:")
print(result)

Séries Original:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Posições da série 1 na série 2:
[0, 2, 4, 6, 9]

22.Converta o primeiro e o último caracter de cada palavra para maiúscula em cada palavra da seguinte série <br>
0 php<br>
1 python<br>
2 java<br>
3 c#<br>
dtype: objeto<br>

In [30]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Série Original:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nPrimeiro e último caracter de cada palavra:")
print(result)

Série Original:
0       php
1    python
2      java
3        c#
dtype: object

Primeiro e último caracter de cada palavra:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

23.Calcule o número de caracteres em cada palavra da seguinte série<br>
0 Php<br>
1 Python<br>
2 Java<br>
3 C#<br>
dtype: objeto<br>

In [31]:
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print("Série original:")
print(series1)
result = series1.map(lambda x: len(x))
print("\nNúmero de caracteres de cada palavra:")
print(result)

Série original:
0       Php
1    Python
2      Java
3        C#
dtype: object

Número de caracteres de cada palavra:
0    3
1    6
2    4
3    2
dtype: int64

24.Calcule a diferença entre números consecutivos de uma determinada série. <br>
Série Original:<br>
0 1<br>
1 3<br>
2 5<br>
3 8<br>
4 10<br>
5 11<br>
6 15<br>
dtype: int64<br>

In [32]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print("Série original:")
print(series1)
print("\nDiferença entre números consecutivos:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Série original:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Diferença entre números consecutivos:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

25.Converta uma série de strings numa série temporal. <br>
Série Original:<br>
0 01 de janeiro de 2015<br>
1 10-02-2016<br>
2 20180307<br>
3 2014/05/06<br>
4 2016-04-12<br>
5 2019-04-06T11:20<br>

In [33]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Série original:")
print(date_series)
print("\nStrings para timeseries:")
print(pd.to_datetime(date_series))

Série original:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Strings para timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

26.Obtenha o dia do mês, dia do ano, número da semana e dia da semana da seguinte série de strings.<br>
<br>
Série Original:<br>
0 01 de janeiro de 2015<br>
1 10-02-2016<br>
2 20180307<br>
3 2014/05/06<br>
4 2016-04-12<br>
5 2019-04-06T11:20<br>
dtype: objeto<br>

In [37]:
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Série original:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("dia do mês:")
print(date_series.dt.day.tolist())
print("dia do ano:")
print(date_series.dt.dayofyear.tolist())
print("número da semana:")
print(date_series.dt.weekofyear.tolist())
print("dia da semana:")
print(date_series.dt.weekday_name.tolist())

Série original:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
dia do mês:
[1, 2, 7, 6, 12, 6]
dia do ano:
[1, 276, 66, 126, 103, 96]
número da semana:
[1, 39, 10, 19, 15, 14]
dia da semana:

C:\Users\raquel.ribeiro\AppData\Local\Temp\ipykernel_18248\3662439186.py:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print(date_series.dt.weekofyear.tolist())

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

27.Converta a string ano-mês em datas adicionando um dia específico do mês. <br>
<br>
Série Original:<br>
0    Jan 2015<br>
1    Feb 2016<br>
2    Mar 2017<br>
3    Apr 2018<br>
4    May 2019<br>
dtype: objeto<br>
Novas datas:<br>
0 2015-01-11<br>
1 2016-02-11<br>
2 2017-03-11<br>
3 2018-04-11<br>
4 2019-05-11<br>
dtype: datetime64[ns]<br>

In [38]:
from dateutil.parser import parse
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Série Original:")
print(date_series)
print("\nNovas datas:")
result = date_series.map(lambda d: parse('11 ' + d))
print(result)

Série Original:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

Novas datas:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

28.Filtre as palavras, na seguinte série, que contenha pelo menos duas vogais.<br>
<br>
Série Original:<br>
0 Vermelho<br>
1 verde<br>
2 laranjas<br>
3 Rosa<br>
4 Amarelo<br>
5 Branco<br>
dtype: objeto<br>

In [39]:
from collections import Counter
color_series = pd.Series(['Vermelho', 'Verde', 'Laranja', 'Rosa', 'Amarelo', 'Branco'])
print("Série Original:")
print(color_series)
print("\nPalavras filtradas:")
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Série Original:
0    Vermelho
1       Verde
2     Laranja
3        Rosa
4     Amarelo
5      Branco
dtype: object

Palavras filtradas:
0    Vermelho
1       Verde
2     Laranja
3        Rosa
4     Amarelo
5      Branco
dtype: object

29.Encontre as posições dos valores vizinhos com valores menores em ambos os lados da seguinte série<br>
0 1<br>
1 8<br>
2 7<br>
3 5<br>
4 6<br>
5 5<br>
6 3<br>
7 4<br>
8 7<br>
9 1<br>
dtype: int64<br>

In [40]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Série Original:")
print(nums)
print("\nPosições dos valores vizinhos com valores menores em ambos os lados:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Série Original:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Posições dos valores vizinhos com valores menores em ambos os lados:
[1 4 8]

30.Substitua os espaços em branco ausentes numa determinada string pelo caracter menos frequente<br>
‘abc def abcdef icd’<br>

In [41]:
str1 = 'abc def abcdef icd'
print("Série Original:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Série Original:
abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
dtype: int64
abcidefiabcdefiicd

31.Crie uma TimeSeries para exibir todos os domingos de 2020.

In [42]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("Todos os domingos de 2020:")
print(result)

Todos os domingos de 2020:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

32. verifique a igualdade das seguintes séries. <br>
Série 1<br>
0 1<br>
1 8<br>
2 7<br>
3 5<br>
4 6<br>
5 5<br>
6 3<br>
7 4<br>
8 7<br>
9 1<br>
Série 2<br>
0 1<br>
1 8<br>
2 7<br>
3 5<br>
4 6<br>
5 5<br>
6 3<br>
7 4<br>
8 7<br>
9 1<br>

In [43]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Série Original:")
print(nums1)
print(nums2)
print("Verificar se são iguais")
print(nums1 == nums2)

Série Original:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Verificar se são iguais
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

33.Encontre o índice (primeira ocorrência) do menor e do maior valor da seguinte série.<br>
Série Original:<br>
0 1<br>
1 3<br>
2 7<br>
3 12<br>
4 88<br>
5 23<br>
6 3<br>
7 1<br>
8 9<br>
9 0<br>

In [44]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Série Original:")
print(nums)
print("O índice (primeira ocorrência) do menor e do maior valor:")
print(nums.idxmin())
print(nums.idxmax())

Série Original:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
O índice (primeira ocorrência) do menor e do maior valor:
9
4