# 6.2 Pandas W - Merge, Join e Concatenate

In [2]:
import pandas as pd

1. Una os dois dataframes fornecidos ao longo das linhas. <br>
df1 = pd.DataFrame({<br>
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],<br>
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], <br>
        'marks': [200, 210, 190, 222, 199]})<br>
<br>
df2 = pd.DataFrame({<br>
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],<br>
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], <br>
        'marks': [201, 200, 198, 219, 201]})<br>

In [3]:
df1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

df2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
result_data = pd.concat([df1, df2])
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

2. Una os dataframes da alinea anterior ao longo das colunas.

In [4]:
result_data = pd.concat([df1, df2], axis=1)
print(result_data)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

3. Anexe a seguinte linha ao dataframe da alínea 1 e exiba os dados combinados. <br>
Nova Linha<br>
estudante_id S6<br>
nome Scarlette Fisher<br>
marcas 205<br>
tipo d: objeto<br>

In [5]:
s6 = pd.DataFrame({'student_id':['S6'], 'name':['Scarlette Fisher'], 'marks': [205]})
combined_data = pd.concat([df1,s6], ignore_index = True)
print(combined_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

4. Unir os dois dataframes df1 e df2 com registos correspondentes de ambos os lados, quando disponíveis.

In [6]:
outer_join = pd.merge(df1, df2, on='student_id', how='outer')
print("outer join:")
print(outer_join)

outer join:
  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

5. Una(unir à esquerda) os dois quadros de dados usando apenas as chaves do quadro de dados esquerdo. <br>
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'], 
                     'key2': ['K0', 'K1', 'K0', 'K1'], 
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'], 
                      'key2': ['K0', 'K0', 'K0', 'K0'], 
                      'R': ['R0', 'R1', 'R2', 'R3'], 
                      'S': ['S0', 'S1', 'S2', 'S3']})

In [7]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
              'key2': ['K0', 'K1', 'K0', 'K1'], 
              'P': ['P0', 'P1', 'P2', 'P3'],
              'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
               'key2': ['K0', 'K0', 'K0', 'K0'], 
               'R': ['R0', 'R1', 'R2', 'R3'], 
               'S': ['S0', 'S1', 'S2', 'S3']}) 
print("\nMerged Data (chave de data1):")
merged_data1 = pd.merge(data1, data2, how='left', on=['key1', 'key2'])
print(merged_data1)
print("\nMerged Data (chave de data2):")
merged_data2 = pd.merge(data2, data1, how='left', on=['key1', 'key2'])
print(merged_data2)

Merged Data (chave de data1):
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

Merged Data (chave de data2):
  key1 key2   R   S    P    Q
0   K0   K0  R0  S0   P0   Q0
1   K1   K0  R1  S1   P2   Q2
2   K1   K0  R2  S2   P2   Q2
3   K2   K0  R3  S3  NaN  NaN

6. Crie um novo DataFrame com base nas séries seguintes existente, usando o argumento especificado e substitua os nomes das colunas existentes por ‘coluna1’, ‘coluna2’ e  ‘coluna3’. <br>
s1 = pd.Series([0, 1, 2, 3], name='col1')<br>
s2 = pd.Series([0, 1, 2, 3])<br>
s3 = pd.Series([0, 1, 4, 5], name='col3')<br>

In [8]:
s1 = pd.Series([0, 1, 2, 3], name='col1')
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5], name='col3')
df = pd.concat([s1, s2, s3], axis=1, keys=['column1', 'column2', 'column3'])
print(df)

   column1  column2  column3
0        0        0        0
1        1        1        1
2        2        2        4
3        3        3        5

7. Crie uma combinação dos dois quadros de dados data1 e data2 onde uma combinação de colunas de ID aparece mais do que uma vez em ambos os quadros de dados.<br>
Ajuda – output desejado:<br>
  key1 key2_x   P   Q key2_y   R   S<br>
0   K0     K0  P0  Q0     K0  R0  S0<br>
1   K0     K1  P1  Q1     K0  R0  S0<br>
2   K1     K0  P2  Q2     K0  R1  S1<br>
3   K1     K0  P2  Q2     K0  R2  S2<br>
4   K2     K1  P3  Q3     K0  R3  S3<br>

In [9]:
result = pd.merge(data1, data2, on='key1')
print(result)

  key1 key2_x   P   Q key2_y   R   S
0   K0     K0  P0  Q0     K0  R0  S0
1   K0     K1  P1  Q1     K0  R0  S0
2   K1     K0  P2  Q2     K0  R1  S1
3   K1     K0  P2  Q2     K0  R2  S2
4   K2     K1  P3  Q3     K0  R3  S3

8. Una as colunas dos dois DataFrames seguintes, indexados potencialmente de forma diferente, num único DataFrame de resultado, usando o join. <br>
data3 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],<br>
                      'B': ['B0', 'B1', 'B2']},<br>
                     index=['K0', 'K1', 'K2'])<br>
<br>
data4 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],<br>
                      'D': ['D0', 'D2', 'D3']},<br>
                     index=['K0', 'K2', 'K3'])<br>

In [11]:
data3 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                      'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

data4 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
 

result = data3.join(data4)
print(result)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

9. Junte os dois dataframes data1 e data2 com colunas diferentes.

In [13]:
result = pd.concat([data1,data2], axis=0, ignore_index=True)
print(result)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3